--- 
layout: blog_default 
title: 嘉立的网络日志
---
 
    <div class="row">
        <div id="home" class="col-md-8">
             
            <ul class="posts">
                {% for post in site.posts %}
                <li>

                     <div class="title-wrapper clear-fix">
                        <a href="{{ post.url | relative_url}}}}#disqus_thread">{{ post.title }}</a>
                        <span>
                                    {% for category in post.categories %}
                                    <i class="tag">{{category}}</i>
                                    {% endfor %}
                        </span>
                        <span class="date_str clear-fix">{{ post.date | date: "%Y年%m月%d日" }}</span>
                     </div>
                     

                 </li>
                {% endfor %}
            </ul>
        </div>
        <div id="category" class="col-md-4">
            <h5>标签</h5>
            <ul>
                <li>
                    <span><a href="category/economic.html">经济</a>({{site.categories['economic']| size}})</span>
                </li>
                <li>
                    <span><a href="category/IT.html">IT</a>({{site.categories['IT']| size}})</span>
                </li>
                <li>
                    <span><a href="category/perspective.html">观察</a>({{site.categories['perspective']| size}})</span>
                </li>                
                <li>
                    <span><a href="category/poems.html">诗歌</a>({{site.categories['poems']| size}})</span>
                </li>
                <li>
                    <span><a href="category/游记.html">游记</a>({{site.categories['游记']| size}})</span>
                </li>
                <li>
                    <span><a href="category/国学经典.html">国学经典</a>({{site.categories['国学经典']| size}})</span>
                </li>
            </ul>
        </div>
    </div>
 