<footer class="footer">
    <div class="container">
        <div class="row footer-inner-wrapper">
            <div class="col-8">
                <h6><em>友情链接</em></h6>
                <ul>
                    <li>
                        <a href="https://www.w3schools.com">w3schools</a>
                    </li>
                </ul>
            </div>
            <div class="col-4">
                <h6><em>Contact Me</em></h6>
                  <ul>
                    <li>
                        <i class="fa fa-twitter"></i>   
                        <a href="https://www.twitter.com/{{ site.twitter_username|      cgi_escape   | escape }}">
                        </a>
                    </li>

                    <li>
                        <i class="fa fa-github-alt"></i>   
                        <a href="https://www.github.com/{{ site.github_username|      cgi_escape   | escape }}">
                        </a>
                    </li>
                    <li>
                        <span> mail:</span>   
                        <a href=" mailto: {{site.email|      cgi_escape   | escape }}">1392029926@qq.com
                        </a>
                    </li>
                </ul>


                

                
            </div>
        </div>
    </div>
</footer>