<footer class="footer">
    <div class="container">
        <div class="row footer-inner-wrapper">
            <div class="col-8">
                <h6><em>友情链接</em></h6>
                <ul>
                    <li>
                        <a href="https://www.w3schools.com">w3schools</a>
                    </li>
                    <li>
                        <a href="http://www.codingpedia.org">codingpedia</a>
                    </li>
                    <li>
                        <a href="http://www.ruanyifeng.com">阮一峰个人博客</a>
                    </li>
                    <li>
                        <a href="https://mirrors.tuna.tsinghua.edu.cn">清华大学开源软件镜像站</a>
                    </li>
                     <li>
                        <a href="https://segmentfault.com/a/1190000000375848">国内开源镜像站点汇总</a>
                    </li>
                      <li>
                        <a href="http://mybatis.tk">Mybatis 学习</a>
                    </li>

                    


                </ul>
            </div>
            <div class="col-4">
                <h6><em>Contact Me</em></h6>
                  <ul>
                    <li>
                        <a href="https://www.twitter.com/{{ site.twitter_username|      cgi_escape   | escape }}">                        <i class="fa fa-twitter"></i>  
                        </a>
                    </li>

                    <li>
                        <a href="https://www.github.com/{{ site.github_username|      cgi_escape   | escape }}"><i class="fa fa-github-alt"></i>   
                        </a>
                    </li>
                    <li>
                        <span> mail:</span>   
                        <a href=" mailto: {{site.email|      cgi_escape   | escape }}">1392029926@qq.com
                        </a>
                    </li>
                </ul>


                

                
            </div>
        </div>
    </div>
</footer>