 
 <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
   <div class="container">
    <a class="navbar-brand"   href="{{'/'|relative_url}}" >首页</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link color-black" href="{{'blog.html'|relative_url}}">日志</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-black" href="{{'album.html'|relative_url}}">相册</a>
        </li>
        <li class="nav-item">
          <a class="nav-link color-black" href="{{'about.html'|relative_url}}">关于我</a>
        </li>
 
      </ul>
      <form class="form-inline my-2 my-md-0">
        <input class="form-control" type="text" placeholder="Search">
      </form>
    </div>
 </div>
</nav>