<header class="fixed-top navbar-wrapper" style="box-shadow: 0 0 3px rgba(14, 14, 14, 0.26);">
    <nav class="navbar navbar-expand-md navbar-light  ">
        <div class="container nav-inner">
            <a class="navbar-brand" href="{{'/'|relative_url}}" style="margin-left:90px;">
          
                    <i class="fas fa-home" style="color:red"></i>
                </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar" aria-controls="collapsibleNavbar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link color-black menu" href="{{'blog/index.html'|relative_url}}">日志</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-black menu" href="http://esperanto.thisisxian.cn">世界语</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link color-black menu" href="{{'about.html'|relative_url}}">关于我</a>
                    </li>
                </ul>
            </div>
            <div class="socials" style="margin-right:170px;">
                <ul>
                    <li>
                        <a href="https://www.twitter.com/{{ site.twitter_username|      cgi_escape   | escape }}" title="twitter">                         
                            <i class="fab fa-twitter-square"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.github.com/{{ site.github_username|      cgi_escape   | escape }}">
                          <i class="fab fa-github-square" title="github"></i>   
                        </a>
                    </li>
                    <li>
                        <a href="https://www.github.com/{{ site.github_username|      cgi_escape   | escape }}/myblog" title="the code of this site">
                      <i class="fa fa-code" aria-hidden="true"></i> 
                    </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/garyfromxian/" title="instagram">
                      <i class="fab fa-instagram" aria-hidden="true"></i> 
                    </a>
                    </li>
                    <li>
                        <a href="https://www.pinterest.ca/beautystonewhu/" title="pinerest"><i class="fab fa-pinterest-square" aria-hidden="true"></i> 
 
                    </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</header>

 