--- 
layout: test
title: 嘉立的网络日志
---

  <p>
<center id="quote_wrapper">
  <img id="author_link" src="" style="width:50px;height:50px;border-radius:30px;"/>

  <i id="quote">路难行，才欣然前行。</i> 
  <span>--</span>
  <i id="author">刘佳利</i></center>
  </p>
            <ul class="posts">
                {% for post in paginator.posts %}
                <li>

                     <div class="title-wrapper clear-fix">
                        <span class="date_str clear-fix">{{ post.date | date: "%Y年%m月%d日" }}</span>
                        >>
                        <a href="{{ post.url | relative_url}}">{{ post.title }}</a>
                         <span>
                                    {% for tag in post.tags %}
                                    <i class="tag">{{tag}}</i>
                                    {% endfor %}
                        </span>

                     </div>
                     

                 </li>
                {% endfor %}
            </ul>

            <!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path }}" class="previous">
      前一页
    </a>
  {% else %}
    <span class="previous">前一页</span>
  {% endif %}
  <span class="page_number ">
    当前页: {{ paginator.page }} of {{ paginator.total_pages }}
  </span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path }}" class="next">下一页</a>
  {% else %}
    <span class="next ">下一页</span>
  {% endif %}
</div>

<script>
 
     
      /**
        var quotes =[
            {
              quote_text:"Don't cry because it's over, smile because it happened.",
              author:"Dr. Seuss",
              link:"/img/61105.jpg"
            },
            {
              quote_text:"Be yourself; everyone else is already taken.",
              author:"Oscar Wilde",
              link:"/img/3565.jpg"
            },
            {
              quote_text:"路难行，才欣然前行。",
              author:"Liu Jaili",
              link:"/img/me/me.jpeg"
            },
        ];

**/

$(function(){

var quotes = [];
  {% for quote in site.data.quotes %}
     var q = {
            quote_text:"{{quote.quote_text}}",
            author:"{{quote.author}}",
            link:"{{quote.link}}"
            }
     quotes.push(q);
{% endfor %}

console.log(quotes)

 
   var size = quotes.length;
  var choose = Math.ceil(Math.random() * (size-1));


  var quote_obj = quotes[choose];

  $("#quote_wrapper>#quote").text(quote_obj.quote_text);
  $("#quote_wrapper>#author").text(quote_obj.author);
  $("#quote_wrapper>#author_link").attr("src",quote_obj.link);


})
   
  

  </script>
  <link rel="stylesheet" type="text/css" href="/css/gravity.css">
   <script type="text/javascript" src="/js/dat.gui.js"></script>

  <script type="text/javascript" src="/js/gravity.js"></script>
 
 